<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<style type="text/css">
		form {
			text-align: center;
			margin-top: 100px;
		}
		.input-block {
			margin-bottom: 20px;
		}
	</style>
	<form method="POST">
		<h1>Create New Account - </h1>
		<div class="input-block">
			Username: <input type="text" name="user_name">
		</div>
		<div class="input-block">
			Password: <input type="password" name="password">
		</div>
		<div>
			<input type="submit" value="Sign Up">
		</div>
	</form>
</body>
</html>